<form>
    <div class="form-group">
        <input  appHover color="grey" type="email" class="form-control" name="email"
            [(ngModel)]="email" placeholder="enter email">
        <!-- <div>{{emailControl.errors | json}} -- {{email}}</div> -->
    </div>
    <div class="form-group">
        <input appHover type="password" class="form-control" name="password" [(ngModel)]="password"
            placeholder="enter password">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="Login()">Login</button>
    </div>

</form>